@import url('//fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-paleBlack: #1d1d1d;
    --c-white: #ffffff;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: var(--c-paleBlack);
    color: var(--c-white);
    overflow-x: hidden;
   
}

.stroke {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.marquee {
    overflow-x: hidden;
}

.gifanimasyon {
    background-image: url("./gif/Animasyon.gif");
    background-size: cover;
}

.benefitimg{
    background-image: url("./assets/teknoloji.jpg");
    background-size: cover;
}


@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-20px); }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.homesection {
    animation: transitionIn 1s;
    
}

@keyframes rotate {
    0% {
        box-shadow: 0 0 10px rgba(161, 161, 170, 0.7); /* Başlangıçta parlaklık yüksek */
    }
    100% {
        box-shadow: 0 0 20px rgba(161, 161, 170, 0); /* Sonunda parlaklık düşük */
    }
}

.rotate-button {
    border: 2px solid rgb(161 161 170); /* Border rengi ve kalınlığı */
    animation: rotate 1s infinite alternate;
}






@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOutUp {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(-50px);
    }
  }

