@import url('//fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-paleBlack: #1d1d1d;
    --c-white: #ffffff;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: var(--c-paleBlack);
    color: var(--c-white);
    overflow-x: hidden;
}

.stroke {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.marquee {
    overflow-x: hidden;
}